.register {
    width: 400px;
    color: #fff;
    background: url('backgnd.jfif')no-repeat center center/cover;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.register > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #edf0f6;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
    background: transparent;
}

.register > .button {
    background:white;
    border:2px solid #dddfe2;
    color: rgb(14, 13, 13);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.register > .gender{
    margin-right: 30px;
}

.register > span{
    font-size: larger;
}

.register > input[name='dob']{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #edf0f6;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 77%;
    font-size: 1rem;
    background: transparent;
}

.register > select[name='gender']{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #edf0f6;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 77%;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
}

.register > input::placeholder{
    color: rgb(236, 241, 245);
}

.register> .discBox{
    font-size: 12px;
    font-style: italic;

}

.register select option {
    color: black;
    font-style: italic;
    font-family: cursive;
    background-color:rgb(207, 236, 207);
}